body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#02051f;
    color:white;
}

.hero{
    min-height:100vh;
    text-align:center;
    padding:80px 20px;
    background:
    radial-gradient(circle at top,#0b2fff,#02051f);
}

.badge{
    display:inline-block;
    padding:10px 20px;
    border-radius:30px;
    border:2px solid #00ff88;
    color:#00ff88;
    box-shadow:0 0 20px #00ff88;
    margin-bottom:30px;
}

.hero h1{
    font-size:70px;
    margin:20px 0;
    text-shadow:0 0 20px #00aaff;
}

.hero h1 span{
    color:#00bfff;
}

.hero p{
    font-size:28px;
}

.hero p span{
    color:#00d4ff;
}

.info{
    margin:30px auto;
    max-width:500px;
    padding:15px;
    border:1px solid #8a2be2;
    border-radius:30px;
    box-shadow:0 0 15px #8a2be2;
}

.buttons{
    margin-top:40px;
}

.btn{
    display:block;
    max-width:350px;
    margin:20px auto;
    padding:20px;
    border-radius:20px;
    text-decoration:none;
    color:white;
    font-size:22px;
    font-weight:bold;
}

.blue{
    border:2px solid #00bfff;
    box-shadow:0 0 25px #00bfff;
}

.pink{
    border:2px solid #ff00ff;
    box-shadow:0 0 25px #ff00ff;
}

.blue:hover,
.pink:hover{
    transform:scale(1.05);
}

@keyframes glow{
    0%{filter:hue-rotate(0deg);}
    100%{filter:hue-rotate(360deg);}
}

.hero{
    animation:glow 12s linear infinite;
}
.feature-grid{
    padding:20px;
}

.feature{
    background:#071133;
    border:1px solid #2563eb;
    border-radius:20px;
    padding:25px;
    margin:20px 0;
    box-shadow:0 0 20px rgba(0,153,255,.4);
}
