body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#02051f;
    color:white;
}

.hero{
    min-height:100vh;
    text-align:center;
    padding:80px 20px;
    background:
    radial-gradient(circle at top,#0b2fff,#02051f);
}

.badge{
    display:inline-block;
    padding:10px 20px;
    border-radius:30px;
    border:2px solid #00ff88;
    color:#00ff88;
    box-shadow:0 0 20px #00ff88;
    margin-bottom:30px;
}

.hero h1{
    font-size:70px;
    margin:20px 0;
    text-shadow:0 0 20px #00aaff;
}

.hero h1 span{
    color:#00bfff;
}

.hero p{
    font-size:28px;
}

.hero p span{
    color:#00d4ff;
}

.info{
    margin:30px auto;
    max-width:500px;
    padding:15px;
    border:1px solid #8a2be2;
    border-radius:30px;
    box-shadow:0 0 15px #8a2be2;
}

.buttons{
    margin-top:40px;
}

.btn{
    display:block;
    max-width:350px;
    margin:20px auto;
    padding:20px;
    border-radius:20px;
    text-decoration:none;
    color:white;
    font-size:22px;
    font-weight:bold;
}

.blue{
    border:2px solid #00bfff;
    box-shadow:0 0 25px #00bfff;
}

.pink{
    border:2px solid #ff00ff;
    box-shadow:0 0 25px #ff00ff;
}

.blue:hover,
.pink:hover{
    transform:scale(1.05);
}

@keyframes glow{
    0%{filter:hue-rotate(0deg);}
    100%{filter:hue-rotate(360deg);}
}

.hero{
    animation:glow 12s linear infinite;
}
.feature-grid{
    padding:20px;
}

.feature{
    background:#071133;
    border:1px solid #2563eb;
    border-radius:20px;
    padding:25px;
    margin:20px 0;
    box-shadow:0 0 20px rgba(0,153,255,.4);
}

/* Floating Exam Words */

.floating-words{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
overflow:hidden;
z-index:-1;
}

.floating-words span{
position:absolute;
font-size:22px;
font-weight:bold;
opacity:.15;
text-shadow:0 0 15px currentColor;
animation:floatWords linear infinite;
}

.floating-words span:nth-child(1){left:5%;top:10%;color:#00bfff;animation-duration:18s;}
.floating-words span:nth-child(2){left:80%;top:20%;color:#ff00ff;animation-duration:22s;}
.floating-words span:nth-child(3){left:10%;top:35%;color:#00ff88;animation-duration:20s;}
.floating-words span:nth-child(4){left:75%;top:45%;color:#38bdf8;animation-duration:25s;}
.floating-words span:nth-child(5){left:15%;top:60%;color:#ff66ff;animation-duration:17s;}
.floating-words span:nth-child(6){left:70%;top:70%;color:#ffd700;animation-duration:24s;}
.floating-words span:nth-child(7){left:30%;top:15%;color:#00ff88;animation-duration:19s;}
.floating-words span:nth-child(8){left:55%;top:30%;color:#00bfff;animation-duration:21s;}
.floating-words span:nth-child(9){left:20%;top:80%;color:#38bdf8;animation-duration:23s;}
.floating-words span:nth-child(10){left:80%;top:85%;color:#ffd700;animation-duration:26s;}

@keyframes floatWords{
0%{transform:translate(0,0);}
25%{transform:translate(20px,-30px);}
50%{transform:translate(-20px,20px);}
75%{transform:translate(30px,-15px);}
100%{transform:translate(0,0);}
}
